[submodule "embedded/stm32-czujnik-temperatury/ntp-client"]
	path = embedded/stm32-czujnik-temperatury/ntp-client
	url = https://github.com/ARMmbed/ntp-client
[submodule "embedded/stm32-czujnik-temperatury/mbed-client-for-azure"]
	path = embedded/stm32-czujnik-temperatury/mbed-client-for-azure
	url = https://github.com/ARMmbed/mbed-client-for-azure
[submodule "iot-bcdgl-azure-functions"]
	path = iot-bcdgl-azure-functions
	url = https://github.com/kacienk/iot-bcdgl-azure-functions.git

[submodule "embedded/stm32-czujnik-temperatury/wifi-ism43362"]
	path = embedded/stm32-czujnik-temperatury/wifi-ism43362
	url = https://github.com/stabor705/wifi-ism43362
